
.panel {
    width: 15vh;
    height: 15vh;
    display: inline-block;
}
.panel:hover{
    box-shadow: inset 0 0 0 3px black;
    box-sizing: border-box;
}
body {
text-align: center;
}
#start_btn{
    font-size: 15px;
    padding: 6px 12px;
    margin-bottom: 0;
    background-color: rgb(40, 120, 224);
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    border: 1px solid transparent;
}
#score {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.item {
    width: 15vh;
    height: 15vh;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: -7.5vh;
    margin-left: -7.5vh;

}
.panel-actif {
    background-color: lightgray !important;
}
.top-left-panel {
    border-top-left-radius: 100%;
    background-color: red;
}
.top-right-panel {
    border-top-right-radius: 100%;
    background-color: blue;
}
.bottom-left-panel {
    border-bottom-left-radius: 100%;
    background-color: yellow;
}
.bottom-right-panel {
    border-bottom-right-radius: 100%;
    background-color: green;
}